.toggle--button {
	margin-top: 15%;
	border: none;
	font-size: 25px;
	color: black;
	margin-left: auto;
	margin-right: auto;
}

svg.toggle--button {
	width: 21px;
	height: 21px;
	color: rgb(201, 172, 146);
}

svg.toggle--close {
	width: 21px;
	height: 21px;
	color: rgb(121, 95, 73);
	border-radius: 15px;
}
.click {
	width: 100px;
	height: 50px;
	color: white;
	font-size: 40px;
	padding: 10px;
	cursor: pointer;
	border: 1px solid white;
}
.click:hover {
	border: 3px solid white;
}
